In [1]:
import numpy as np
import pandas as pd

import timeit

#### Q1. NumPy version

In [2]:
np.__version__

'1.21.5'

#### 1.21.5

In [3]:
# !wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

In [4]:
df = pd.read_csv("data.csv")

In [5]:
df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [6]:
# help(timeit)

In [7]:
print(timeit.timeit("len(df.index)", globals=globals(), number=1000000))
print(timeit.timeit("len(df)", globals=globals(), number=1000000))
print(timeit.timeit("df.shape", globals=globals(), number=1000000))

0.23402639899723
0.2971675709995907
0.5707315160034341

#### Q2. Number of records in the dataset

In [8]:
len(df.index)
# len(df)
# r, c = df.shape# len(df.index)

11914

#### 11914

In [9]:
df.Make.nunique()

48

In [10]:
df.Make.unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

#### Q3. Most frequent car manufacturers (top-3) according to the dataset

In [11]:
df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [12]:
df.Make.value_counts()[:3].index
# df.Make.value_counts().head(3)

Index(['Chevrolet', 'Ford', 'Volkswagen'], dtype='object')

#### 'Chevrolet', 'Ford', 'Volkswagen'

In [13]:
print(timeit.timeit("(df.Make=='Audi').sum()", globals=globals()))
print(timeit.timeit("len(df[df.Make=='Audi'].index)", globals=globals()))
print(timeit.timeit("len(df[df.Make=='Audi'])", globals=globals()))
# print(timeit.timeit("df.query("Make == 'Audi'").count()", globals=globals()))

560.645166084003
640.129201583004
635.7303945410022

#### Q4. Number of unique Audi car models in the dataset

In [14]:
df[df.Make=='Audi']['Model'].unique()

array(['100', '200', '80', '90', 'A3', 'A4 allroad', 'A4', 'A5', 'A6',
       'A7', 'A8', 'allroad quattro', 'allroad', 'Cabriolet', 'Coupe',
       'Q3', 'Q5', 'Q7', 'R8', 'RS 4', 'RS 5', 'RS 6', 'RS 7', 'S3', 'S4',
       'S5', 'S6', 'S7', 'S8', 'SQ5', 'TT RS', 'TT', 'TTS', 'V8'],
      dtype=object)

In [15]:
len(df[df.Make=='Audi']['Model'].unique())
# df[df.Make=='Audi']['Model'].nunique()

34

#### 34

#### Q5. Number of columns with missing values

In [16]:
df.isna().any()

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

In [17]:
df.columns[df.isna().any()].tolist()

['Engine Fuel Type',
 'Engine HP',
 'Engine Cylinders',
 'Number of Doors',
 'Market Category']

In [18]:
df.isna().any().sum()

5

#### 5

#### Q6. Does the median value change after filling missing values?

In [19]:
df['Engine Cylinders'].median()

6.0

In [20]:
df['Engine Cylinders'].mode()[0]

4.0

In [21]:
df[['Engine Cylinders']].isna().sum()

Engine Cylinders    30
dtype: int64

In [22]:
df[df['Engine Cylinders'].isna()]['Engine Cylinders']

1983   NaN
1984   NaN
3716   NaN
3717   NaN
3718   NaN
3719   NaN
5778   NaN
5779   NaN
5780   NaN
8373   NaN
8695   NaN
8696   NaN
8697   NaN
8698   NaN
8699   NaN
8700   NaN
8701   NaN
8702   NaN
8703   NaN
8704   NaN
8705   NaN
8706   NaN
8707   NaN
8708   NaN
8709   NaN
8710   NaN
8711   NaN
8712   NaN
8713   NaN
8714   NaN
Name: Engine Cylinders, dtype: float64

In [23]:
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0], inplace=True)

In [24]:
# df[['Engine Cylinders']] = df[['Engine Cylinders']].fillna(df[['Engine Cylinders']].mode().values[0][0])

In [25]:
df[['Engine Cylinders']].median()

Engine Cylinders    6.0
dtype: float64

In [26]:
df[df['Engine Cylinders'].isna()]['Engine Cylinders']

Series([], Name: Engine Cylinders, dtype: float64)

#### No
#### The median value 6.0 remains same after filling NAs with the mode value.

#### Q7. Value of the first element of w


    Select all the "Lotus" cars from the dataset.
    Select only columns "Engine HP", "Engine Cylinders".
    Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Invert XTX.
    Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the value of the first element of w?

In [27]:
X = df.loc[df["Make"]=="Lotus", ["Engine HP", "Engine Cylinders"]].drop_duplicates().to_numpy()

In [28]:
XTX = np.matmul(X.T, X)
# XTX = X.T @ X

In [29]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [30]:
XTX_inverse = np.linalg.inv(XTX)

In [31]:
w = np.matmul(np.matmul(XTX_inverse, X.T), y)
# w = (XTX_inv @ X.T) @ y

In [32]:
w[0]

4.594944810094576

#### 4.5949