In [1]:
import pandas as pd
import numpy as np

1. Pandas version

In [2]:
pd.__version__

'2.2.2'

2. Records count

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-30 20:20:43--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8002::154, 2606:50c0:8001::154, 2606:50c0:8000::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8002::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv.1’

laptops.csv.1       100%[===================>] 291.58K  --.-KB/s    in 0.07s

2024-09-30 20:20:44 (4.32 MB/s) - ‘laptops.csv.1’ saved [298573/298573]

In [4]:
df = pd.read_csv('laptops.csv')

In [5]:
len(df)

2160

3. Laptop brands

In [6]:
len(df.Brand.unique())

27

4. Missing values

In [7]:
# df.notna().sum()

for col in df:
    if df[col].notna().sum() != len(df):
        print(col, df[col].notna().sum())

Storage type 2118
GPU 789
Screen 2156

5. Maximum final price

In [8]:
max(df[df['Brand']=='Dell']['Final Price'])

3936.0

6. Median value of Screen

In [9]:
df['Screen'].median() == df['Screen'].mode()

0    True
Name: Screen, dtype: bool

7. Sum of weights

In [10]:
X = df[df['Brand']=='Innjoo'][['RAM', 'Storage', 'Screen']]
X

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [11]:
XTX = X.T.dot(X)
XTX

            RAM   Storage    Screen
RAM       252.0    8320.0    559.80
Storage  8320.0  368640.0  17395.20
Screen    559.8   17395.2   1281.96

In [12]:
XTX_inverse = np.linalg.inv(XTX)
XTX_inverse

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [13]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [14]:
z = XTX_inverse.dot(X.T)
w = z.dot(y)
w

array([45.58076606,  0.42783519, 45.29127938])

In [15]:
np.sum(w)

91.29988062995457